<mat-toolbar class="toolbar">
    <span>ForoWEB</span>
    <span class="example-spacer"></span>
    
    <button   (click)="handleProfile()" class="custom-button">
      <mat-icon> 
        account_circle
      </mat-icon>
    </button>

    

    <!-- Logout Button -->
    <button *ngIf="isAuthenticated" (click)="handleLogout()" class="custom-button">
      <mat-icon>logout</mat-icon>
    </button>
    
    <!-- Login Button -->
    <button *ngIf="!isAuthenticated" (click)="handleLogin()" class="custom-button">
      <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>
  